@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    @apply p-0 m-0 box-border
}

input[type="text"]{
    @apply border rounded-md focus:border-blue-600 focus:outline-none
}